<!-- 메인 페이지 -->
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
<style>

</style>
</head>

<body>
  <div class="container">
    <!-- 1. 이미지 배치 -->
      <img class="content__raccoon-img" src="images/raccoon.png" alt="raccoon">
    <!-- 2. 텍스트 박스 -->
    <div class="content__textarea">
      <div class="intro-text">안녕!!! 나는
        <br><strong>대신 예의를 차려주는
        <br class="hide-on-desktop">너구리</strong>야!
        <br>너가 욕을 적으면, 
        <br class="hide-on-desktop">내가 예의있게 바꿔줄게!
      </div>
      <div class="main-text__area">
        <div class="main-text__area-inner">
          <textarea class="input-text" id="" autofocus placeholder="ex) 어우 시발 오늘 김교수 조깟네"></textarea>
          <div class="main-text__result">
            <div class="result-box" style="display:none;">
              <hr>
              <p class="result-mode">예의모드</p>
              <p class="result-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 3. 버튼 및 공유 -->
    <div class="content__button">
      <button class="change-btn">CHANGE</button>
    </div>
    <!-- 4. 로고 및 저작권 -->
    <footer class="content__footer">
      <a href="http://prography.org/" target="_blank"><img class="logo" src="images/logo.svg" alt="logo"></a>
      <div class="copyright">Copyright 2018. Prography RaccoonMan Team. all rights reserved.</div>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $('.change-btn').click(function(){
      var input_text = $('.input-text').val();
      var change_button =
        $(".change-btn").empty();
        $(".change-btn").append("Replay"); 
        $(".change-btn").addClass("change-btn2");

      $.ajax({
        url:"/",
        method: "POST",
        async:true,
        dataType: "json",
        data: {text_box: input_text},
        error: function(e) {
          console.log(e);
        },
        success: function(r){
          $(".result-box").attr("style", "display:block;");
          $('.result-text').text(r.data);
          console.log(r.data);
          $(change_button);
        }
      })
    });
  </script>


</body>
</html>
