<!--CHANGE 버튼 클릭시 이동될 페이지 -->
<html>
<meta charset="utf-8" />

<head>
<link href="https://fonts.googleapis.com/css?family=Gaegu|Gamja+Flower|Nanum+Gothic" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/layout2.css" />
<link rel="stylesheet" type="text/css" href="css/style.css"/ />

<style>

</style>
</head>

<body>
    <div class="grid">
      <div class="grid_item grid_item_1 heading">
        <div class="title">
          <p> 안녕, 나는 </p>
          <p> <strong>대신 예의를 차려주는 너구리</strong>야!!!</p>
          <p> 너가 욕을 적으면, 내가 예의 있게 바꿔줄게!!!</p><br /><br />
        </div>
      </div>

          <div class="textarea textarea1 grid_item grid_item_2  "> <!-- 입력 값 --> </div>
          <div class="textarea textarea2 grid_item grid_item_3"><span id="mode"><!-- 변환 값 --></span></div>
      <div class="grid_item grid_item_4 ">
    <a class="replaybtn" href="index.html">REPLAY</a>

        <a href="http://www.facebook.com" class="icon-btn facebook">공유
        </a>
        <a href="#" class="icon-btn kakao">공유
        </a>
        <a href="#" class="icon-btn twitter">공유
        </a>
</div>
</body>

</html>


<!--

<html>
<meta charset="utf-8" />

<head>

<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">  <style>


  </style>
</head>
<body>
  <script>

  </script>
  <div class="container">
  <div class="heading">
    <div class="title">
      <p> 안녕, 나는 </p>
      <p> <strong>대신 예의를 차려주는 너구리</strong>야!!!</p>
      <p> 너가 욕을 적으면, 내가 예의 있게 바꿔줄게!!!</p><br /><br />
    </div>
  </div>
  <div class="body">
    <div class="output">
      <div class="textarea1"></div>
      <div class="textarea2">예의모드</div>
    </div>
      <a href="index.html"><button class="button"/>REPLAY </button></a>
      <a href="#" class="icon-btn twitter">공유
      </a>
      <a href="#" class="icon-btn facebook">공유
      </a>
      <a href="#" class="icon-btn kakao">공유
      </a>
    </div>
</div>
<div class="footer">

</div>

<script src="index1.html"
</body>
</html>

-->
